
<!DOCTYPE html>
<html>
<head>
    <title>澳优</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../css/page.css" />
</head>

<body>
<!--抬头-->
<div id="header">
    <div id="header-1">
        <span>澳优欢迎您</span>
        <span id="span1"><a href="#">请登录</a></span>
        <span id="span2"><a href="#">免费注册</a></span>
        <span id="span3"><a href="#">手机澳优</a></span>
    </div>
    <div id="header-2">
        <span id="span4"><a href="#">我的订单</a></span>
        <span class="dropdown">
            <span class="dropbtn"><a href="#">个人中心</a></span>
            <div class="dropdown-content">
                <a href="#">账号首页</a>
                <a href="#">个人信息</a>
                <a href="#">商品收藏</a>
                <a href="#">收货地址</a>
                <a href="#">退货记录</a>
                <a href="#">查看消息</a>
            </div>
        </span>
        <span id="span6"><a href="#">会员中心</a></span>
    </div>
    <div clss="serch" style="border: 1px solid red; width:1080px;height:68px;padding: 20px 0px 0px 0px">
        <span>
            <img src="../image/logo.png" width="145px" height="68px">
        </span>
    </div>
</div>





</body>
    <!--<script src="../static/header.js"></script>-->
</html>